<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue.js</title>
  </head>
  <body>
    <div id="app">
      <form>
          <!-- チェックボックスをshowに紐付け -->
        <label for="show">表示/非表示</label>
        <input type="checkbox" id="show" v-model="show">
      </form>
      <!-- showプロパティの値に応じて、パネルに表示/非表示を切り替え -->
      <div id="panel" v-if="show">
        <h3>RSSフィードについて</h3>
        <div>WINGSでは、弊社執筆の書籍</div>
      </div>
      <div id="panel" v-else="show">
        <div>現在、非表示状態です。</div>
      </div>

      <form>
          <label for="holiday">祝日：</label><br>
          <select id="holiday" v-model="holiday">
              <option value="">祝日を選択してください。</option>
              <option value="new">元日</option>
              <option value="child">子供の日</option>
              <option value="culture">文化の日</option>
              <option value="labor">勤労感謝の日</option>
          </select>
      </form>
      <div v-if="holiday==='new'">1月1日</div>
      <div v-else-if="holiday==='child'">5月5日</div>
      <div v-else-if="holiday==='culture'">11月3日</div>
      <div v-else-if="holiday==='labor'">11月23日</div>
      <div v-else>何も選択されていない</div>

      <fieldset>
          <legend>支払い方法</legend>
          クレジットカード：
          <input type="radio" name="pay" value="credit" v-model="pay">
          銀行振り込み：
          <input type="radio" name="pay" value="bank" v-model="pay">
          <hr>
          <!-- 支払い方法に応じて、入力ボックスを切り替え -->
          <div v-if="pay === 'credit'">
                カード番号：
                <input type="text" key="credit">
          </div>
          <div v-else-if="pay === 'bank'">
                口座番号：
                <input type="text" key="bank">
          </div>
      </fieldset>
    </div>

    <!-- lodashをインポート(これで_.debounceが使える) -->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
